{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="carousel" class="carousel" touch="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
    {% for key, image in images.items %}
      <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{ key }}"></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="{% static '/images/' %}{{ image }}"><img src="{% static '/images/' %}{{ firstimg }}" class="d-block w-100" alt="..."></a>
    </div>
    {% for key, image in images.items %}
      <div class="carousel-item">
        <a href="{% static '/images/' %}{{ image }}"><img src="{% static '/images/' %}{{ image }}" loading="lazy" class="d-block w-100" alt="..."></a>
      </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock %}